@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> _userManager
@inject RoleManager<IdentityRole> _roleManager

<div class="root" id="root">
    <div class="d-flex" id="wrapper">
        <!-- Navbar -->
        <div class="navbar bg-primary" id="navbar-wrapper">
            <nav class="container-fluid">
                <div class="text-start">
                    <button class="navbar-toggler" id="sidebar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-wrapper" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars navbar-toggler-icon text-white"></i>
                    </button>
                    <img src="/img/logo.svg" height="50" style="margin-left: 10px; padding: 2px; background-color: #fff;" alt="logo" />
                </div>
                <div class="dropdown text-end">
                    <a href="#" class="dropdown-toggle d-block text-decoration-none text-white" id="userDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropDown">
                        <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="d-flex" id="outer-content-wrapper">
            <!-- Sidebar -->
            <div class="collapse-horizontal collapse show" id="sidebar-wrapper">
                <div class="navbar">
                    <div class="navbar-collapse" id="sidebar">
                        <ul class="navbar-nav flex-column" style="width: 100%">
                            @{
                                ApplicationUser user = _userManager.GetUserAsync(User).Result;

                                if (user != null)
                                {
                                    if (ViewData["CurrentArea"] == null)
                                    {
                                        ViewData["CurrentArea"] = "Unknown";
                                    }

                                    if (_userManager.IsInRoleAsync(user, "Client").Result)
                                    {
                                        <li class="nav-item">
                                            <a asp-area="ClientPortal" asp-controller="ClientPortal" asp-action="Index" class="navbar-item nav-link @(ViewData["CurrentArea"].ToString() == "ClientPortal" ? "nav-active" : "")" aria-content="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Client Portal">
                                                <i class="fa fa-user-tie"></i>
                                            </a>
                                        </li>
                                    }

                                    if (_userManager.IsInRoleAsync(user, "Technician").Result)
                                    {
                                        <li class="nav-item">
                                            <a asp-area="TechnicianPortal" asp-controller="TechnicianPortal" asp-action="Index" class="navbar-item nav-link @(ViewData["CurrentArea"].ToString() == "TechnicianPortal" ? "nav-active" : "")" aria-content="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Technician Portal">
<i class="fa fa-male"></i>
                                            </a>
                                        </li>
                                    }

                                    if (_userManager.IsInRoleAsync(user, "AdminStaff").Result)
                                    {
                                        <li class="nav-item">
                                            <a asp-area="AdminStaffPortal" asp-controller="AdminStaffPortal" asp-action="Index" class="navbar-item nav-link @(ViewData["CurrentArea"].ToString() == "AdminStaffPortal" ? "nav-active" : "")" aria-content="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Admin Staff Portal">
                                                <i class="fa fa-address-card"></i>
                                            </a>
                                        </li>
                                    }

                                    if (_userManager.IsInRoleAsync(user, "SuperAdmin").Result)
                                    {
                                        <li class="nav-item">
                                            <a asp-area="Settings" asp-controller="Settings" asp-action="Index" class="navbar-item nav-link @(ViewData["CurrentArea"].ToString() == "Settings" ? "nav-active" : "")" aria-content="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Settings">
                                                <i class="fa fa-cog"></i>
                                            </a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="" id="content-wrapper">
                <!-- Toolbar -->
                @if (IsSectionDefined("Toolbar"))
                {
                    <div class="navbar" id="toolbar-wrapper">
                        <ul class="nav flex-row" id="toolbar">
                            @*An example Toolbar item
                                DON'T ADD THEM HERE, define them in the subview:
                                @section Toolbar { #DEFINE HERE# }
                            <li class="nav-item toolbar-item">
                                <a href="#" class="">
                                    <i class="fa fa-sad-cry"></i>
                                    <p class="">Text</p>
                                </a>
                            </li>*@
                            @RenderSection("Toolbar", required: false)
                        </ul>
                    </div>
                }
                <div class="" id="page-content">
                    @RenderBody()
                    @section Scripts {
                        @RenderSection("Scripts", required: false);
                    }
                </div>
            </div>
        </div>
    </div>
</div>